<div class="wrapper">
  <div class="wrapper__container wrapper__container_spaced">
    <div id="navigatorMap" style="width: 100%; height: 450px"></div>
    <button
      ion-button
      class="map"
      color="secondary"
      round
      *ngIf="type === 'toStore'"
      (click)="checkInStore()"
    >
      Я забрал заказ
    </button>
    <button
      ion-button
      class="map"
      color="secondary"
      round
      *ngIf="type === 'toClient'"
      (click)="checkInClient()"
    >
      Заказ у клиента
    </button>
  </div>
</div>
