<div class="wrapper">
  <div class="wrapper__header header">
    <div class="header__title">
      Список заказов
    </div>
    <div class="header__icon">
      <ion-icon name="list"></ion-icon>
    </div>
  </div>
  <div class="wrapper_container">
    <div class="message" *ngIf="!orders">
      Ожидаем заказы
    </div>
    <ion-list *ngIf="orders">
      <ion-item *ngFor="let order of orders" class="order">
        <div class="order__desc">
          <div class="order__name">#{{order.number}}</div>
          <div class="order__price">{{order.distance}}</div>
        </div>
        <button class="order__button" (click)="requestTakeOrder(order.id)">
          Принять
        </button>
      </ion-item>
    </ion-list>
  </div>
</div>
