.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background: #fff;

  &_finish {
    background: linear-gradient(117deg, #1fe7ee, #00043c);
  }

  &__header {
    width: 100%;
    height: 50px;
  }

  &__container {
    width: 100%;
    height: calc(100% - 50px);

    &_center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &_spaced {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &_top_center {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.header {
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(to right, #56e7ec, #02afcd);

  color: #fff;

  &__title {
    width: calc(100% - 40px);
    margin-left: 20px;

    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  &__icon {
    width: 20px;

    font-size: 20px;
  }
}

.slider {
  width: 80%;

  margin-bottom: 90px;
}

.message {
  margin-top: 20px;
  margin-bottom: 50px;

  font-size: 24px;
  text-align: center;
  font-weight: bold;

  color: #919191;

  &_map {
    margin-top: 5px;
    margin-bottom: 5px;

    font-size: 20px;
  }

  &_finish {
    color: #57e7ec;
  }

  &__light {
    font-weight: 300;
  }

  &__note {
    display: block;
    font-size: 14px;
    font-weight: 300;

    margin-top: 20px;

    line-height: 18px;
  }
}

.order-list {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.order {
  width: 100%;

  padding: 7px 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &:nth-child(even) {
    background-color: #f0f3f5;
  }

  &__desc {
    flex-grow: 1;

    font-size: 16px;
  }

  &__name {
    font-weight: bold;
    color: #919191;

    margin-bottom: 7px;
  }

  &__distance {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__icon {
    width: 18px;

    margin-right: 7px;
  }

  &__button {
    width: 100px;
    height: 100%;

    font-size: 20px;
    color: #4cf758;
    background-color: transparent;
    font-weight: bold;

    flex-shrink: 0;
  }
}

button[ion-button] {
  font-size: 20px;
  padding: 7px 30px;

  &.map {
    opacity: 0;
    animation: 1s fadeFromDown ease forwards 2s;
  }
}

@keyframes fadeFromDown {
  from {
    opacity: 0;
    transform: translate(0, 50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}


.noUi-value-horizontal {
  transform: translate3d(-50%, 120%, 0)!important;
}

.noUi-target {
  border-radius: 15px;
}

.noUi-horizontal .noUi-handle {
  width: 28px!important;
  height: 28px!important;
  left: -13px!important;
  top: -6px!important;

  border-radius: 50px;

  background-color: #56e7ec;
  box-shadow: none!important;

  &::before,
  &::after {
    display: none!important;
  }
}

.noUi-target {
  border: none!important;
  box-shadow: none!important;
}

ul {
  padding: 0;

  &.rating li {
    color: #57e7ec;

    ion-icon {
      font-size: 40px;
    }
  }
}

.money {
  width: 30%;
}
